<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>aaa</Title>
    <Shortcut>aaa</Shortcut>
    <Description>Arrange, Act, Assert</Description>
    <Author>Julian Easterling</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="csharp" Delimiter="$">
      <![CDATA[// Arrange
$end$

// Act

// Assert
]]>
    </Code>
  </Snippet>
</CodeSnippet>
